.top__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  font-size: 1rem;

  .logo {
    margin: .6rem 1rem;
    padding: .6rem 1rem;
    background: $oc-indigo-7;
    color: white;
    font-family: "Source-Sans-Pro-Bold";
    border-radius: 5px;
  }

  .auth__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
      font-family: "Source-Sans-Pro-SemiBold";
      margin: .6rem 1rem;
      padding: .6rem 1rem;
      border: 1.5px solid $oc-indigo-7;
      color: $oc-indigo-7;
      border-radius: 5px;
      transition: all .2s ease;

      &.router-link-active {
        text-decoration: underline;
      }

      &:hover {
        background: $oc-indigo-7;
        color: white;
      }
    }
  }
}


.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
}


.account__details {
  width: 100%;
  // background-color: yellow;
  tr {
    transition: all .2s ease;
    td {
      padding: 2rem 0;
      border-top: 1px solid $oc-gray-4;

      &:first-child {
        font-size: 1.1rem;
        font-weight: bold;
        width: 30%;
      }
    }

    &:first-child {
      td {
        border-top: none;
      }
    }

    &:hover {
      background: $oc-gray-0;
    }
  }

  a {
    color: $oc-blue-7;

    &:hover {
      text-decoration: underline;
    }
  }
}
